[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
